# # Prerequisites
# *.d

# # Compiled Object files
# *.slo
# *.lo
# *.o
# *.obj

# # Precompiled Headers
# *.gch
# *.pch

# # Compiled Dynamic libraries
# *.so
# *.dylib
# *.dll

# # Fortran module files
# *.mod
# *.smod

# # Compiled Static libraries
# *.lai
# *.la
# *.a
# *.lib

# # Executables
# *.exe
# *.out
# *.app

# *.bin
# *.opt-record.json.gz

# # Ignore all files
# *

# # Unignore all files with extensions
# !*.*

# # Unignore all directories
# !*/

# # Un-ignore specific project files
# !/.gitignore
# !/.gitattributes
# !LICENSE
# !README.md

# .*/